:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}

:root {
 --font-family: "Roboto", sans-serif;
 --second-family: "Raleway", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: #FFFFFF;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo  {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    margin-right: 76px;
}
img {
    display: block;
}
a {
    text-decoration: none;
    color: var(--slate);
}

ul {
    list-style: none;
}

.logo-span{
    color: #4d5ae5;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.header-container-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-container-nav-ul {
    display: flex;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    flex-direction: row;
    gap: 40px;
    align-items: center;
    padding: 24px 0;
}

.nav-list {
    padding: 24px 0;
}

.nav-list-a {
    padding: 24px 0;
    display: block;
}

.header-container-address {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-container-address-ul {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.solutions {
    padding: 188px 0;
    background-color: var(--navy-blue);
    width: 1440px;
    height: 600px;
}

.first-header {
    max-width: 496px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    margin: auto;
    color: var(--white);
    margin-bottom: 48px;
}

.solutions-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--white);
    margin: auto;
}

.feature {
    padding: 120px 0;
}

.feature-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    padding: 120px 0;
}

.third-header {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.main-page {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.feature-li {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .team {
    padding: 120px 0;
  }

  .team-title {
    margin-bottom: 72px;
  }

  .team-members {
    display: flex;
    gap: 24px;
  }