:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: #ffffff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1158px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  margin-right: 76px;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: var(--slate);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo-span {
  color: #4d5ae5;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-container-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-container-nav-ul {
  display: flex;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.nav-list-a {
  padding: 24px 0;
  display: block;
  .nav-list-a;
}

.nav-list-a-first {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-a-first::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-container-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
}

.header-container-address-ul {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-container-address-ul-li {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
}

.first-header {
  max-width: 496px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  margin: auto;
  color: var(--white);
  margin-bottom: 48px;
}

.solutions-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.solutions-button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--ocean);
}

.feature {
  padding: 120px 0;
}

.feature-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.feature-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.third-header {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.main-page {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.feature-li {
  flex-basis: calc((100% - 3 * 24px) / 4);
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team {
  padding: 120px 0;
  background-color: #f4f4fd;
  margin-left: auto;
  margin-right: auto;
}

.team.sec {
  background-color: #f4f4fd;
  margin-left: auto;
  margin-right: auto;
}

.team-title {
  margin-bottom: 72px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.team-members {
  display: flex;
  gap: 24px;
}

.team-members-li {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.members-name {
  padding: 32px 0;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.members-contacts {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
}

.contacts-list {
  width: 40px;
  height: 40px;
  padding-bottom: ;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-a:hover {
  background-color: #404bbf;
}

.contacts-list-a:focus {
  background-color: #404bbf;
}

.icons-team {
  fill: #f4f4fd;
}

.team-main-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  margin-bottom: 72px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding-left: 0;
}

.portfolio-list-li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-li {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-img {
  width: 360px;
  height: 300px;
}

.portfolio-box {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.portfolio-box:hover .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
}

.portfolio-main-title {
  margin-bottom: 8px;
}

.footer {
  padding: 100px 0;
  background: var(--navy-blue);
}

.container-footer {
  align-items: baseline;
  display: flex;
}

.footer-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-span-footer {
  color: #4d5ae5;
}

.logo-text-box {
  margin-right: 120px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  font-family: var(--font-family);
}

.social-list-f {
  display: flex;
  gap: 16px;
}

.social-list-li-f {
  width: 40px;
  height: 40px;
}

.social-list-li-f-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-li-f-a:hover,
.social-list-li-f-a:focus {
  background-color: #31d0aa;
}

.icons-footer {
  fill: #f4f4fd;
}

.form-text-f {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-left: 80px;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
  margin-left: 80px;
}

.input-footer {
  border: 1px solid var(--white);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: var(--white);
}

.input-footer::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: var(--white);
}

.form-button-f {
  position: relative;
  display: flex;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--iris);
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.form-button-svg-f {
  fill: var(--white);
  margin-left: 16px;
}

.form-button-f:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--ocean);
}
